page-home {
  section>ion-card ion-card-content{
    float: left;
    max-width: 70%;

  }
  section{
    margin-top: 16px;
  }
  section>ion-card ion-card-content>ion-card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section>ion-card>img{
    width: 30%;
    float: right;
    max-height: 166px;
  }
}
