page-home {
  section>ion-card ion-card-content{
    float: left;
    max-width: 70%;

  }
  section{
    margin-top: 10px;
    overflow: hidden;
  }
  section>ion-card ion-card-content>ion-card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section>ion-card>img{
    width: 30%;
    float: right;
  }
  section>ion-card{
    height: 166px;
  }
  ion-content.content{
    background-color:rgba(0,0,0,0.12);
  }

}
